/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0077ff;
  transition: color 0.3s;
}

body.dark-mode .title {
  color: #bb86fc;
}

/* Fonts and Layout */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 600px;
  padding: 20px;
  width: 90%;
}

.card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  text-align: center;
}

.quote {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 20px;
  line-height: 1.6;
}

.author {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.card-title {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #0077ff;
  font-weight: 600;
  text-align: center;
  transition: color 0.3s;
}

body.dark-mode .card-title {
  color: #bb86fc;
}

button {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s, color 0.3s;
  background-color: #0077ff;
  color: #fff;
}

button:hover {
  background-color: #005dd1;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #e1e1e1;
}

body.dark-mode .card {
  background-color: #1f1f1f;
}

body.dark-mode button {
  background-color: #bb86fc;
}

body.dark-mode button:hover {
  background-color: #985eff;
}
